@media screen and (min-device-width: 0px) and (max-device-width: 300px) {
    body {
        /* background-color: blue; */
        text-align: center;
        background: url('/Test//Photos/output/PSD/Index.jpg') no-repeat;
        background-size: cover;
    }
    .TitleBox {
        /* float: left; */
        margin: 0 auto;
        /* background-color: rgb(131, 228, 180); */
        width: 1000px;
        height: 460px;
    }
    .SVGPic {
        float: left;
        width: 100px;
        height: 100px;
        margin-left: 100px;
        margin-top: 20px;
    }
    .TitleText {
        float: left;
        width: 600px;
        /* background-color: rgb(157, 255, 0); */
        text-align: center;
        font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
        font-size: 80px;
        font-weight: 600;
        line-height: 120%;
        margin-left: 10px;
        margin-top: 20px;
    }
    .LText {
        margin: 0 auto;
        /* background-color: rgb(148, 160, 216); */
        font-size: 40px;
        /* margin-left: 10px; */
        margin-top: 260px;
        width: 800px;
        height: 50px;
    }
    .Head {
        margin: 0 auto;
        /* background: rgb(43, 255, 0); */
        text-align: center;
        width: 100%;
        height: 100%;
    }
    .ContText {
        /* background-color: rgb(255, 60, 0); */
        margin: 0 auto;
        text-align: center;
        width: 860px;
        height: 4400px
    }
    .ButtunBox {
        float: left;
    }
    .ButtunPic {
        /* background: rgb(255, 136, 0); */
        width: 800px;
        height: 500px;
        background-size: 20% 100%;
        margin-left: 30px;
        margin-top: 40px;
        box-shadow: 8px 8px 8px rgba(44, 65, 39, 0.603);
        border-radius: 56px;
    }
    .BottomBox {
        width: 810px;
        height: 300px;
        /* background-color: rgb(171, 206, 164); */
        margin: 0 auto;
        text-align: center;
        font-size: 40px;
        font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    }
    .FlyBtn {
        cursor: pointer;
        margin: 0 auto;
        /* background-color: rgb(43, 255, 0); */
        width: 35px;
        height: 35px;
        border-radius: 100%;
        background: url('/Test//Photos/output/common.png') -3px -2px;
    }
    .FlyBtn:hover {
        background: url('/Test//Photos/output/common.png') -49px -2px;
    }
}


/************************************************************************************************/


/************************************************************************************************/

@media screen and (min-device-width: 300px) and (max-device-width: 600px) {
    body {
        /* background-color: blue; */
        text-align: center;
        background: url('/Test//Photos/output/PSD/Index.jpg') no-repeat;
        background-size: cover;
    }
    .TitleBox {
        /* float: left; */
        margin: 0 auto;
        /* background-color: rgb(131, 228, 180); */
        width: 1000px;
        height: 210px;
    }
    .SVGPic {
        float: left;
        width: 60px;
        height: 60px;
        margin-left: 190px;
        margin-top: 20px;
    }
    .TitleText {
        float: left;
        width: 500px;
        /* background-color: rgb(157, 255, 0); */
        text-align: center;
        font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
        font-size: 50px;
        font-weight: 600;
        line-height: 120%;
        margin-left: 10px;
        margin-top: 20px;
    }
    .LText {
        margin: 0 auto;
        /* background-color: rgb(148, 160, 216); */
        font-size: 26px;
        /* margin-left: 10px; */
        margin-top: 80px;
        width: 800px;
        height: 50px;
    }
    .Head {
        margin: 0 auto;
        /* background: rgb(43, 255, 0); */
        text-align: center;
        width: 100%;
        height: 100%;
    }
    .ContText {
        /* background-color: rgb(255, 60, 0); */
        margin: 0 auto;
        text-align: center;
        width: 860px;
        height: 1000px
    }
    .ButtunBox {
        float: left;
    }
    .ButtunPic {
        /* background: rgb(255, 136, 0); */
        width: 390px;
        height: 220px;
        background-size: 20% 100%;
        margin-left: 30px;
        margin-top: 16px;
        box-shadow: 6px 6px 6px rgba(44, 65, 39, 0.603);
        border-radius: 26px;
    }
    .BottomBox {
        width: 810px;
        height: 220px;
        /* background-color: rgb(171, 206, 164); */
        margin: 0 auto;
        text-align: center;
        font-size: 26px;
        font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    }
    .FlyBtn {
        cursor: pointer;
        margin: 0 auto;
        /* background-color: rgb(43, 255, 0); */
        width: 35px;
        height: 35px;
        border-radius: 100%;
        background: url('/Test//Photos/output/common.png') -3px -2px;
    }
    .FlyBtn:hover {
        background: url('/Test//Photos/output/common.png') -49px -2px;
    }
}


/************************************************************************************************/


/************************************************************************************************/

@media screen and (min-device-width: 600px) and (max-device-width: 900px) {
    body {
        /* background-color: blue; */
        text-align: center;
        background: url('/Test//Photos/output/PSD/Index.jpg') no-repeat;
        background-size: cover;
    }
    .TitleBox {
        /* float: left; */
        margin: 0 auto;
        /* background-color: rgb(255, 47, 47); */
        width: 1000px;
        height: 130px;
    }
    .SVGPic {
        float: left;
        width: 45px;
        height: 45px;
        margin-left: 200px;
        margin-top: 20px;
    }
    .TitleText {
        float: left;
        width: 500px;
        /* background-color: rgb(157, 255, 0); */
        text-align: center;
        font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
        font-size: 38px;
        font-weight: 600;
        line-height: 120%;
        margin-left: 8px;
        margin-top: 20px;
    }
    .LText {
        /* float: left; */
        /* background-color: rgb(148, 160, 216); */
        font-size: 16px;
        margin-left: 10px;
    }
    .Head {
        margin: 0 auto;
        /* background: rgb(43, 255, 0); */
        text-align: center;
        width: 100%;
        height: 100%;
    }
    .ContText {
        /* background-color: rgb(255, 60, 0); */
        margin: 0 auto;
        text-align: center;
        width: 800px;
        height: 450px
    }
    .ButtunBox {
        float: left;
    }
    .ButtunPic {
        /* background: rgb(255, 136, 0); */
        width: 250px;
        height: 130px;
        background-size: 20% 100%;
        margin-left: 10px;
        margin-top: 10px;
        box-shadow: 3px 3px 3px rgba(44, 65, 39, 0.603);
        border-radius: 10px;
    }
    .BottomBox {
        width: 810px;
        height: 160px;
        /* background-color: rgb(171, 206, 164); */
        margin: 0 auto;
        text-align: center;
        font-size: 16px;
        font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    }
    .FlyBtn {
        cursor: pointer;
        margin: 0 auto;
        /* background-color: rgb(43, 255, 0); */
        width: 32px;
        height: 32px;
        border-radius: 100%;
        background: url('/Test//Photos/output/common.png') -3px -2px;
    }
    .FlyBtn:hover {
        background: url('/Test//Photos/output/common.png') -49px -2px;
    }
}


/************************************************************************************************/


/************************************************************************************************/

@media screen and (min-device-width: 900px) {
    body {
        /* background-color: blue; */
        text-align: center;
        background: url('/Test//Photos/output/PSD/Index.jpg') no-repeat;
        background-size: cover;
    }
    .TitleBox {
        /* float: left; */
        margin: 0 auto;
        /* background-color: rgb(255, 47, 47); */
        width: 1000px;
        height: 130px;
    }
    .SVGPic {
        float: left;
        width: 40px;
        height: 40px;
        margin-left: 200px;
        margin-top: 20px;
    }
    .TitleText {
        float: left;
        width: 500px;
        /* background-color: rgb(157, 255, 0); */
        text-align: center;
        font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
        font-size: 33px;
        font-weight: 600;
        line-height: 120%;
        margin-left: 5px;
        margin-top: 20px;
    }
    .LText {
        /* float: left; */
        /* background-color: rgb(148, 160, 216); */
        font-size: 12px;
        margin-left: 10px;
    }
    .Head {
        margin: 0 auto;
        /* background: rgb(43, 255, 0); */
        text-align: center;
        width: 100%;
        height: 100%;
    }
    .ContText {
        /* background-color: rgb(255, 60, 0); */
        margin: 0 auto;
        text-align: center;
        width: 810px;
        height: 250px
    }
    .ButtunBox {
        float: left;
    }
    .ButtunPic {
        background: rgb(255, 136, 0);
        width: 190px;
        height: 100px;
        background-size: 20% 100%;
        margin-left: 10px;
        margin-top: 10px;
        box-shadow: 2px 2px 2px rgba(44, 65, 39, 0.603);
        border-radius: 8px;
    }
    .BottomBox {
        width: 810px;
        height: 160px;
        /* background-color: rgb(171, 206, 164); */
        margin: 0 auto;
        text-align: center;
        font-size: 13px;
        font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    }
    .FlyBtn {
        cursor: pointer;
        margin: 0 auto;
        background-color: rgb(43, 255, 0);
        width: 32px;
        height: 32px;
        border-radius: 100%;
        background: url('/Test//Photos/output/common.png') -3px -2px;
    }
    .FlyBtn:hover {
        background: url('/Test//Photos/output/common.png') -49px -2px;
    }
}